#map {
    height: 100%;
    width: 100%;
    min-height: 400px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.leaflet-pane,
.leaflet-tile,
.leaflet-marker-icon,
.leaflet-shadow,
.leaflet-tile-container,
.leaflet-pane > svg,
.leaflet-pane > canvas,
.leaflet-zoom-box,
.leaflet-image-layer,
.leaflet-layer {
  visibility: inherit;
}

.leaflet-default-icon-path {
  background-image: url('/assets/leaflet/marker-icon.png');
}
.leaflet-marker-shadow {
  background-image: url('/assets/leaflet/marker-shadow.png');
}
