.DS_Store
.env*
*.log
*.lock
*.bak
*.tmp
*.swp
*.swo
.idea/
.vscode/
*.sublime-project
*.sublime-workspace
*.esproj
.eslintcache
.prettierignore
node_modules/
frontend/node_modules/
frontend/dist/
frontend/.angular/cache/
frontend/coverage/
frontend/e2e/tsconfig.json
frontend/package-lock.json
backend/node_modules/
backend/dist/
backend/coverage/
backend/logs/
backend/*.tsbuildinfo
backend/package-lock.json
