<div class="main-container d-flex min-vh-100 position-relative overflow-hidden">

  <div class="purple-blob-svg position-absolute h-100 w-100 z-0"></div> 

  <div class="content-wrapper d-flex flex-grow-1 flex-column justify-content-center align-items-center position-relative z-1 py-4">

    <h1 class="welcome-title-purple text-center mb-4">Bienvenido</h1>

    <div class="card login-box shadow-lg rounded-4 p-4 p-md-5 bg-white">
      <div *ngIf="userMessage" class="alert mb-4" [ngClass]="{'alert-danger': isError, 'alert-success': !isError}">
        {{ userMessage }}
      </div>

      <div class="mb-4">
        <label for="email" class="form-label fw-semibold text-dark">Email</label>
        <input id="email" type="email" class="form-control form-control-lg rounded-pill" [(ngModel)]="email" placeholder="tu_email@ejemplo.com">
      </div>

      <div class="mb-4">
        <label for="password" class="form-label fw-semibold text-dark">Contraseña</label>
        <input id="password" type="password" class="form-control form-control-lg rounded-pill" [(ngModel)]="password" placeholder="********">
      </div>

      <div class="d-grid gap-2 mb-3">
        <button (click)="login()" class="btn btn-primary btn-lg rounded-pill fw-bold py-3" [disabled]="isLoading">
          <span *ngIf="!isLoading">Ingresar</span>
          <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
        </button>
        <button (click)="goToRegister()" class="btn btn-outline-secondary btn-lg rounded-pill fw-bold py-3">Registrarse</button>
      </div>

      <div class="d-grid">
        <button (click)="forgotPassword()" class="btn btn-link text-primary fw-semibold text-decoration-none">Olvidé mi contraseña</button>
      </div>
    </div>
  </div>
</div>